<div id="registerContainer" >

  <div id="header">
      <h2>Please Sign Up. <span>It's free and always will be.</span></h2>
  </div>


  <form>

    <input type="text" name="fname"  placeholder="First Name" />


    <input type="text" name="lname" placeholder="Last Name" /> <br/>

    <input  type="email" name="email" placeholder="Email"/>

    <input type="password" name="password" placeholder="Password" />

    <input type="password" name="passConf" placeholder="Confirm Password" /> <br />

    <input type="text" name="age" placeholder="Age"/>  <br/>


    <input type="text" name="city" placeholder="city">


    <input type="text" name="state" placeholder="state">  <br/>

    <h5>Already Registered? <a [routerLink]=" ['/login'] ">Login</a></h5>
    <input  class="submitBox" type="submit"  value="Sign Up"/>  <br/>
  </form>

</div>


